extends layout

block extraHeaders
    script(src='/javascripts/parallax.js')

block content
    section#page0(data-speed='6', data-type='background')
        .container
            .row-fluid
                .span12.text-center
                    h1 HTML5 Parallax Scroller

            .row-fluid
                .span6.text-center
                    h4 Powered by NodeJS, express.js, jade, stylus and bootstrap
                .span6.text-center
                    h4 Adapted from http://untame.net/2013/04/how-to-integrate-simple-parallax-with-twitter-bootstrap/

            .row-fluid 
                .span12.text-center 
                    h3 Credit: Joel Haowen TONG (me [at] joeltong [dot] org)



    section#page1(data-speed='8', data-type='background')
        .container
            .row-fluid
                .span12.text-center
                    h1 page 1

    section#page2(data-speed='6', data-type='background')
        .container
            .row-fluid
                .span12.text-left 
                    h1 page 2

    section#page3(data-speed='2', data-type='background')
        .container
            .row-fluid
                .span12.text-center
                    h1
                        | Template by jhtong (me [at] joeltong [dot] org)

