extends layout

block extraHeaders
    script(src='/javascripts/parallax.js')

block content
    section#page0(data-speed='6', data-type='background')
        .container
            .span12.text-center
                h1 Ever wanted to sell stuff?


            .span12.text-center 
                img(src='/images/summer.svg', id='heroImg')

            .span12.text-center
                h2 Now you can.
                br
                br

    section#page1(data-speed='8', data-type='background')
        .container
            .row-fluid
                .span12.text-left
                    h1 Introducing NUS Buzz.
                    h4 A responsive mobile trade portal, written in NodeJS.
                    h4 Built for students, by students.
                    br

            .row-fluid 
                .span4.text-center
                    h2
                        | Buy

                    img(src='/images/cart.svg')

                .span4.text-center 
                    h2
                        | Sell 
                    img(src='/images/pricetag.svg')
                .span4.text-center 
                    h2
                        | Meet 
                    img(src='/images/handshake.svg')

            .row-fluid 
                .span4.text-center
                    h3
                        | View items on sale.
                .span4.text-center 
                    h3 
                        | Trade items you no longer need.
                .span4.text-center 
                    h3 
                        | Transact your goods.

    section#page2(data-speed='6', data-type='background')
        .container
            .row-fluid
                .span12.text-left 
                    h2
                        | Take a peek!

            .row-fluid 
                ul.thumbnails
                    li.span4
                        //.thumbnail
                        h3.text-center Home page
                        img(src='/images/screenshots/category.png').img-polaroid
                    li.span4
                        // .thumbnail
                        h3.text-center Selling items
                        img(src='/images/screenshots/sell.png').img-polaroid
                    li.span4
                        //.thumbnail
                        h3.text-center Browsing items
                        img(src='/images/screenshots/category2.png').img-polaroid


    section#page3(data-speed='2', data-type='background')
        .container
            .row-fluid
                .span12.text-center
                    h1
                        | Shipping Fall 2013.

            br
                
            .row-fluid
                .span12.text-center 
                    h2
                        | Are you ready?  Support us!
            br

            .row-fluid.text-center
                .span6
                    h2
                        | SMS 'm10' to 77577
                .span6
                    a.btn.btn-primary.btn-large(href='https://ivle.nus.edu.sg/public/icreate.aspx')
                        | Vote now!
                    
            br
            br
            br

            .row-fluid
                .span4.text-center
                    a(href='https://www.facebook.com/nusbuzz/')
                        img(src='/images/facebook2.png')
                .span4.text-center
                    a
                        img(src='/images/twitter2.png')
                .span4.text-center
                    a
                        img(src='/images/googleplus2.png')

            .row-fluid
                .span12.text-center 


            .row-fluid 
                .span12.text-center 
                    br
                    br
                    h4
                        | Built by Team JAVA.  NUS iCreate Mobility Challenge 2013.  With lots of love.
                    h5
                        | Alex Yao | Alex Peh | Joel Tong | Sreshta Vijay





