doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
        link(href='http://fonts.googleapis.com/css?family=Cinzel', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src='/javascripts/jquery-1.10.1.min.js')
        script(src='/javascripts/plugins.js')
        script(src='/javascripts/analytics.js')

        block extraHeaders

    body
        .navbar.navbar-inverse.navbar-fixed-top
            .navbar-inner 
                .nav-fonts.brand Some Caption
                ul.nav#top-nav
                    li
                        a(href='#page0').nav-fonts #Header0
                    li 
                        a(href='#page1').nav-fonts #Header1
                    li 
                        a(href='#page2').nav-fonts #Header2
                    li 
                        a(href='#page3').nav-fonts #Header3

        
        block content

    script(src='/javascripts/animateScroll.js')
